
body {
    font-family: 'Poppins', sans-serif;
     background-color: f4f4f4;
     color: 333;
     scroll-behavior: smooth;
  }

               
  header {
                    
    background-color: 2d002d; 
    padding: 15px 0;
     position: fixed;
                                
     width: 10%;
                                   
     top: 0;
                                       
     z-index: 100;
                                        
}

                                        
.banner {
                    
    display: flex;
                                                
    justify-content: space-around;
                                                   
    align-items: center;
                                                    
}

                                                    
.logo-nav {
                                                        
    height: 110px;
                                                            
    border-radius: 10%;
                                                        
}

                                                            
nav a {
                                                                
    color: f4d03f; 
                                                                   
    text-decoration: none;
                                                                        
    margin: 0 15px;
                                                                            
    font-weight: 600;
                                                                               
    transition: 0.3s;
                                                                                
}

                                                                                
nav a:hover {
                                                                                    
    color: white;
                                                                                    
}
                                                                                    
.hero {
                                                                                        
    height: 10vh;
                                                                                           
    background: url("Gambarwine1.png") no-repeat center center/cover;
                                                                                                
    display: flex;
                                                                                                    
    align-items: center;
                                                                                                       
    justify-content: center;
                                                                                                      
}

                                                                                                        
.hero-overlay {
                                                                                                          
    background: rgba(0, 0, 0, 0.6);
                                                                                                                
    margin: 100px;
                                                                                                                   
    border-radius: 80px;
                                                                                                                        
    text-align: center;
                                                                                                                            
    color: white;
    
                                                                                                                            
}

                                                                                                                           
.judulhome {
                                                                                                                               
    font-family: 'Playfair Display', serif;
                                                                                                                                   
    font-size: 3.5rem;
                                                                                                                                        
    color: f4d03f;
 }

                                                                                                                                        
                                                                                                                                        
 .about {
                                                                                                                                            
    padding: 80px 10%;
                                                                                                                                               
    background: white;
                                                                                                                                                
}

                                                                                                                                                
.about-flex {
                                                                                                                                                   
    display: flex;
                                                                                                                                                        
    align-items: center;
                                                                                                                                                            
    gap: 40px;
                                                                                                                                                           
}

                                                                                                                                                            
.about-img-wrapper img {
                                                                                                                                                              
    width: 150px ;
    heigth: 450px ;
    border-radius: 15px;
                                                                                                                                                                       
    box-shadow: 10px 10px 0px 2d002d;
    background-repeat: no-repeat ;
                                                                                                                                                                      
}

                                                                                                                                                                    
                                                                                                                                                                        
.profile {
                                                                                                                                                                            
    padding: 80px 0;
                                                                                                                                                                             
    background-color: fdf2ff;
                                                                                                                                                                                    
    text-align: center;
                                                                                                                                                                                    
}

                                                                                                                                                                                    
.cardprofile {
                                                                                                                                                                                       
    width: 350px;
                                                                                                                                                                                            
    background: white;
                                                                                                                                                                                               
    margin: 0 auto;
                                                                                                                                                                                                    
    border-radius: 20px;
                                                                                                                                                                                                        
    overflow: hidden;
                                                                                                                                                                                                            
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
                                                                                                                                                                                                            
}

                                                                                                                                                                                                            
.profile-header {
                                                                                                                                                                                                                
    height: 100px;
                                                                                                                                                                                                                  
    background: 2d002d;
                                                                                                                                                                                                                    
}

                                                                                                                                                                                                                    
.profile-pic {
                                                                                                                                                                                                                        
    width: 120px;
                                                                                                                                                                                                                            
    height: 120px;
                                                                                                                                                                                                                                
    border-radius: 50%;
                                                                                                                                                                                                                                    
    border: 5px solid white;
                                                                                                                                                                                                                                      
    margin-top: -60px;
                                                                                                                                                                                                                                            
    background: white;
                                                                                                                                                                                                                                           
}

                                                                                                                                                                                                                                           
.profile-content h3 {
                                                                                                                                                                                                                                               
    margin-top: 15px;
                                                                                                                                                                                                                                                  
    font-size: 24px;
                                                                                                                                                                                                                                                       
    color: 2d002d;
                                                                                                                                                                                                                                                        
}

                                                                                                                                                                                                                                                        
.role {
                                                                                                                                                                                                                                                           
    color: b388ff;
                                                                                                                                                                                                                                                               
    font-weight: bold;
                                                                                                                                                                                                                                                                    
    font-size: 14px;
                                                                                                                                                                                                                                                                      
    margin-bottom: 15px;
                                                                                                                                                                                                                                                                      
}

                                                                                                                                                                                                                                                                       
.bio {
                                                                                                                                                                                                                                                                            
    padding: 0 25px 20px;
                                                                                                                                                                                                                                                                               
    font-size: 14px;
                                                                                                                                                                                                                                                                                    
    color: 666;
                                                                                                                                                                                                                                                                                   
}

                                                                                                                                                                                                                                                                                    
footer {
                                                                                                                                                                                                                                                                                        
    background: 2d002d;
                                                                                                                                                                                                                                                                                            
    color: white;
                                                                                                                                                                                                                                                                                               
    text-align: center;
                                                                                                                                                                                                                                                                                                   
    padding: 20px;
                                                                                                                                                                                                                                                                                                    
}











