
header{
    text-align: center;
    background-color: rgb(0, 238, 255);
    position: fixed;
    width: 100%;
}
nav{
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color: rgb(22, 240, 69);
    background-color: purple;
    padding: 5px 15px;
    font-size: 16px;
}
nav a:hover{
    color: purple;
}

.home{
    height: 800px;
    background-color: lightblue;
    padding-top: 100PX;
    background-image: url("");
    & H1{
        color: red;
    }
}

.containerAbout{
    width: 50%;
    margin: auto;
    padding: 50px 20px;
    & img{
        height: 300px ;
    }
}

