header img{
    height: 100px;
    width: 100px;
    
    
}
header{
    text-align: center;
    background-color: gold;
}
nav{
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color: rgb(22, 240, 69);
    background-color: purple;
    padding: 5px 15px;
    font-size: 16px;
}
nav a:hover{
    color: purple;
}
